a:hover {
    text-decoration: none;
}

.page-header {
    margin-bottom: 10px;
    padding-bottom: 0;
}

.inline-block {
    display: inline-block;
}

.no-wrap {
    white-space: nowrap;
}

.table-options {
    width: 100%;
    height: 35px;
}

.must {
    color: #f11;
}

.valign-middle {
    vertical-align: -webkit-baseline-middle;
}

.btn-delete {
    font-size: 1.1em;
    color: #ff6363;
}

.btn-delete:hover {
    color: #ff0000;
}